@font-face {
    font-family: 'Gordita';
    src: url('Gordita-Medium.eot');
    src: url('Gordita-Medium.eot?#iefix') format('embedded-opentype'),
        url('Gordita-Medium.woff2') format('woff2'),
        url('Gordita-Medium.woff') format('woff'),
        url('Gordita-Medium.ttf') format('truetype'),
        url('Gordita-Medium.svg#Gordita-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

